:root {
    --font: verdada,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    --icon-size: 20px;

    --font-size: 1.4rem;

    --z-index-mid: 2;
    --z-index-high: 3;

    --item-height: 35px;

    --border-radius: 5px;
}

html {
    background: #000;
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html.d {
    --color: #efe8e8;
    --color-bg: #3d3d3d;
    --color-bg-d: #2b2b2b;

    --color-hover: #4f4d4d;
    --color-hover-l: #656363;
    accent-color: #3d3d3d;
    color-scheme: dark;
}

html.l {
    --color: #3d3d3d;
    --color-bg: #efe8e8;
    --color-bg-d: #ddd6d6;

    --color-hover: #fff7f7;
    --color-hover-l: #ffffff;
    accent-color: #efe8e8;
    color-scheme: light;
}

body {
    position: relative;
    width: 380px;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background: var(--color-bg);
    color: var(--color);
}

[data-css-hidden] {
    display: none;
}

.shell::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

:is(h1, h2, h3, p, select) {
    font-size: var(--font-size);
    margin: 0;
}

select {
    padding: 4px;
}

a {
    color: var(--color);
    border-radius: var(--border-radius);
}

:is(button, select, input[type="checkbox"]) {
    cursor: pointer;
}

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px;
    color: var(--color);
    font-family: var(--font);
    border-radius: var(--border-radius);
}

button:hover {
    background: var(--color-hover-l);
}

button:not(:hover) {
    background: transparent;
}

input, select {
    border-radius: var(--border-radius);
}

kbd {
    font-family: monospace;
    border: 1px solid var(--color);
    border-radius: var(--border-radius);
    padding: 2px 4px;
}

.icon {
    width: var(--icon-size);
}


/*HEADER*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header .left {
    display: flex;
    align-items: center;
}

.header .right {
    display: flex;
    align-items: center;
}

.header h1 {
    font-weight: 600;
    padding: 5px;
}

.header .loading {
    animation: 2s ease-in-out 0s infinite spin;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/*SEARCH*/
form[name="search"] {
    --icon-size: 15px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 15px 20px;
}

form[name="search"] .icon-search {
    position: absolute;
    transform: translateX(5px);
}

form[name="search"] input {
    width: 100%;
    min-height: var(--item-height);
    background: var(--color-bg-d);

    padding: 0 35px 0 30px;

    font-size: var(--font-size);
    font-family: var(--font);

    outline: none;
    border: none;
    line-height: 2;
}

form[name="search"] button[name="remove"] {
    position: absolute;
    right: 15px;
    transform: translateX(-5px);
}

/*MAIN*/
.main {
    --padding: 0px 8px;
    --icon-size: 15px;
    --min-height: 230px;
    --max-height: 480px;

    min-height: var(--min-height);
    padding-block: 5px;
    border-top: 1px solid var(--color-hover-l);
    line-height: 2;
}

.main .empty:not([data-css-hidden]) {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--padding);
    opacity: 40%;
    height: var(--min-height);
    font-size: 2rem;
}

.main .container {
    overflow: auto;
    max-height: var(--max-height);
    padding-inline: 5px;
}

.main .container::-webkit-scrollbar {
    width: 8px;
}
.main .container::-webkit-scrollbar-thumb {
    background-color: var(--color-hover);
}

.main :is(.date, .item) [name="remove"] {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: var(--z-index-mid);
}

.main :is(.item, .date):not(:hover) {
    background: var(--color-bg);
}

.main :is(.item, .date):hover {
    background: var(--color-hover);
}

.main .date {
    position: sticky;
    top: 0;
    z-index: var(--z-index-high);
    display: flex;
    align-items: center;
    padding: var(--padding);
    height: var(--item-height);
    border-radius: var(--border-radius);
}

.main .item {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--item-height);
    padding: var(--padding);
    text-decoration: none;
    outline-offset: -2px;
    border-radius: var(--border-radius);
}
.main .item::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 70%;
    right: 60px;
}
.main .item:not(:hover)::before {
    background: linear-gradient(to left, var(--color-bg), transparent);
}
.main .item:hover::before {
    background: linear-gradient(to left, var(--color-hover), transparent);
}

.main .item [name="title"] {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 10px;
}

.main .item [name="time"] {
    --font-size: 1.2rem;
    position: relative;
    text-align: right;
    min-width: 60px;
    opacity: 80%;
}

.main .item:hover [name="time"] {
    visibility: hidden;
}

.main .item:not(:hover) [name="remove"] {
    display: none;
}

.modal:not([data-css-hidden]) {
    display:flex;
    justify-content: center;
}


/*MODAL*/

.modal {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-high);
}

.modal::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--color-bg-d);
    opacity: 0.6;

}

.modal>section {
    position: absolute;
    transform: translateY(40px);
    padding: 10px;
    background: var(--color-bg);
    width: 90%;
    max-height: 520px;
    overflow: auto;
    border-radius: var(--border-radius);
}
.modal>section::-webkit-scrollbar {
    width: 8px;
}
.modal>section::-webkit-scrollbar-thumb {
    background-color: var(--color-hover);
}

.modal>section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.modal form {
    padding-block: 10px;
}

.modal form .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.modal form input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.modal footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid var(--color-hover-l);
}

.modal footer a {
    padding: 5px;
}

.modal footer a:hover {
    background: var(--color-hover);
}


.modal article {
    padding: 10px 0;
    display: flex;
}
.modal article h3 {
    --font-size: 1.2rem;
    flex-shrink: 0;
    line-height: 2;
}

.modal article p {
    padding-left: 10px;
}

.modal hr {
    margin: 10px 0;
    border-color: var(--color);
}
