:root {
    --font: verdada,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --color: #efe8e8;
    --color-bg: #3d3d3d;
    --color-bg-d: #2b2b2b;
    --color-hover: #4f4d4d;
    --color-hover-l: #656363;
    --icon-size-n: 20px;
    --icon-size-s: 15px;
    --font-size-n: 1.4rem;
    --font-size-s: 1.3rem;

    --item-height: 35px;
    --item-padding: 0 8px;

    accent-color: #3d3d3d;
    color-scheme: dark;
    font-size: 10px;
}

body {
    position:relative;
    width: 380px;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background: var(--color-bg);
    color: var(--color);
}

h1,h2,p {
    margin: 0;
}

a {
    color: var(--color)
}

button,select {
    cursor: pointer;
}

button {
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px;
    color: var(--color);
    font-family: var(--font);
}
button:not(:hover) {
    background: transparent;
}


[data-display="0"] {
    display: none !important;
}

.c_center-children {
    display: flex;
    align-items:center;
    justify-content:center;
}

.c_space-between-children {
    display: flex;
    align-items:center;
    justify-content:space-between;
}


/* header */
.header {
    padding: 10px 10px 0;
}

.header .left {
    display:flex;
    align-items: center;
}

.header .button:hover {
    background: var(--color-hover);
}

.header .title {
    font-weight: 600;
    padding: 5px;
    font-size: var(--font-size-n);
}

.header .icon {
    width: var(--icon-size-n);
}

.header .loading {
    animation: 2s ease-in-out 0s infinite spin;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header .right {
    display: flex;
    align-content: center;
}

/* search */
.search {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 15px 20px;
    border-bottom: 2px solid var(--color-hover);
}

.search input {
    width: 100%;
    background: var(--color-bg-d);
    padding: 0 40px 0 30px;
    height: 30px;
    border: none;
    font-family: var(--font);
    font-size: var(--font-size-n);
    outline: none;
}
.search .icon {
    width: var(--icon-size-n);
}

.search .icon-search {
    position: absolute;
    transform: translate(5px, 0);
}
.search .button {
    position: absolute;
    right: 15px;
    padding: 0;
    transform: translate(-5px, 0);
}
.search .button:hover {
    background: var(--color-hover);
}

/* content */
.content {
    padding: 5px 0 5px 5px;
}

.content .container {
    overflow: auto;
    max-height: 488px;
    padding-right: 5px;
}

.content .container::-webkit-scrollbar {
    /* width of the entire scrollbar */
    width: 8px;
}
.content .container::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    background-color:var(--color-hover-l);
}

.content .button:hover {
    background: var(--color-hover-l);
}

.content .button .icon {
    width: var(--icon-size-s);
}

/* content uitls */
.no-history {
    display: flex;
    align-items: center;
    height: var(--item-height);
    padding: var(--item-padding);
    font-size: var(--font-size-n);
    opacity: 80%;
}

/* date and item */
:is(.date,.item) {
    display:flex;
    align-items: center;
    height: var(--item-height);
    padding: var(--item-padding);
}

:is(.date,.item) button {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* date */
.date {
    position: sticky;
    top: 0;
    z-index: 1;
}

.date:not(:hover) {
    background: var(--color-bg);
}

.date:hover {
    background: var(--color-hover);
}

.date .title {
    font-size: var(--font-size-n);
    width: 100%;
}

/* item */
.item {
    position: relative;
    justify-content: space-between;
    text-decoration: none;
    outline-offset: -2px;
}

.item:hover {
    background: var(--color-hover);
}

:is(.item:hover .time, .item .button:focus~.time) {
    display: none;
}

.item:not(:hover) .button:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.item .favicon {
    padding-right: 10px;
}

.item .title {
    width: 100%;
    font-size: var(--font-size-n);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item .right {
    display:flex;
    align-items:center;
    justify-content: flex-end;
    min-width: 60px;
    padding-left: 5px;
}

.item .time {
    font-size: var(--font-size-s);
    opacity: 80%;
}


/* modal */
.modal:not([data-display="0"]) {
    display: flex;
}

.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:1;
    inset: 0;
    align-items: center;
    justify-content: center;
}
.modal::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-bg-d);
    opacity: 0.6;
}

.modal section {
    position: absolute;
    top: 40px;
    background: var(--color-bg);
    padding: 10px;
}

.modal :is(button,a) {
    padding: 5px;
}

.modal :is(button,a):hover {
    background-color: var(--color-hover);
}

.modal button:not(:hover) {
    background-color: transparent;
}

.modal .icon {
    width: var(--icon-size-n);
}

.modal .config {
    width: 300px;
}

.modal .config :is(h2,p) {
    font-size: var(--font-size-n);
}

.modal .config h2 {
    padding-bottom: 10px;
}

.modal .config .field {
    padding: 10px;
}

.modal .config hr {
    margin: 10px 0;
}

.modal .config .socials {
    padding-top: 5px;
}
