:root {
    --font: verdada,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    --icon-size: 20px;

    --font-size: 1.4rem;

    --z-index-mid: 2;
    --z-index-high: 3;

    --item-height: 35px;
}

html {
    background: #000;
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html.d {
    --color: #efe8e8;
    --color-bg: #3d3d3d;
    --color-bg-d: #2b2b2b;

    --color-hover: #4f4d4d;
    --color-hover-l: #656363;
    accent-color: #3d3d3d;
    color-scheme: dark;
}

html.l {
    --color: #3d3d3d;
    --color-bg: #efe8e8;
    --color-bg-d: #ddd6d6;

    --color-hover: #fff7f7;
    --color-hover-l: #ffffff;
    accent-color: #efe8e8;
    color-scheme: light;
}

body {
    position: relative;
    width: 380px;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background: var(--color-bg);
    color: var(--color);
}

[data-css-hidden] {
    display: none;
}

.shell::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

:is(h1, h2, p, select) {
    font-size: var(--font-size);
    margin: 0;
}

select {
    padding: 4px;
}

a {
    color: var(--color);
}

:is(button, select, input[type="checkbox"]) {
    cursor: pointer;
}

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px;
    color: var(--color);
    font-family: var(--font);
}

button:hover {
    background: var(--color-hover-l);
}

button:not(:hover) {
    background: transparent;
}

.icon {
    width: var(--icon-size);
}


/*HEADER*/
header.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header.root .left {
    display: flex;
    align-items: center;
}

header.root .right {
    display: flex;
    align-items: center;
}

header.root h1 {
    font-weight: 600;
    padding: 5px;
}

header.root .loading {
    animation: 2s ease-in-out 0s infinite spin;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/*SEARCH*/
form[name="search"] {
    --icon-size: 15px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 15px 20px;
}

form[name="search"] .icon-search {
    position: absolute;
    transform: translateX(5px);
}

form[name="search"] input {
    width: 100%;
    height: var(--item-height);
    background: var(--color-bg-d);

    padding: 0 35px 0 30px;

    font-size: var(--font-size);
    font-family: var(--font);

    outline: none;
    border: none;
}

form[name="search"] button[name="remove"] {
    position: absolute;
    right: 15px;
    transform: translateX(-5px);
}

/*MAIN*/
main.root {
    --padding: 0px 8px;
    --icon-size: 15px;
    --min-height: 230px;
    --max-height: 480px;

    min-height: var(--min-height);
    padding-block: 5px;
    border-top: 1px solid var(--color-hover-l);
    line-height: 2;
}

main.root .empty:not([data-css-hidden]) {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--padding);
    opacity: 40%;
    height: var(--min-height);
    font-size: 2rem;
}

main.root .container {
    overflow: auto;
    max-height: var(--max-height);
    padding-inline: 5px;
}

main.root .container::-webkit-scrollbar {
    width: 8px;
}

main.root .container::-webkit-scrollbar-thumb {
    background-color: var(--color-hover);
}

main.root :is(.date, .item) [name="remove"] {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: var(--z-index-mid);
}

main.root :is(.item, .date):not(:hover) {
    background: var(--color-bg);
}

main.root :is(.item, .date):hover {
    background: var(--color-hover);
}

main.root .date {
    position: sticky;
    top: 0;
    z-index: var(--z-index-high);
    display: flex;
    align-items: center;
    padding: var(--padding);
    height: var(--item-height);
}

main.root .item {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--item-height);
    padding: var(--padding);
    text-decoration: none;
    outline-offset: -2px;
}

main.root .item [name="title"] {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

main.root .item [name="time"] {
    --font-size: 1.2rem;
    position: relative;
    text-align: right;
    min-width: 60px;
    opacity: 80%;
}

main.root .item:hover [name="time"] {
    visibility: hidden;
}

main.root .item:not(:hover) [name="remove"] {
    display: none;
}

.modal:not([data-css-hidden]) {
    display:flex;
    justify-content: center;
}

.modal {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-high);
}

.modal::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--color-bg-d);
    opacity: 0.6;

}

.modal section.config {
    position: absolute;
    transform: translateY(40px);
    padding: 10px;
    background: var(--color-bg);
    width: 80%;
}

.modal section.config header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.modal section.config form {
    padding-block: 10px;
}

.modal section.config form .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.modal section.config form input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.modal section.config footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid var(--color-hover-l);
}

.modal section.config a {
    padding: 5px
}

.modal section.config a:hover {
    background: var(--color-hover);
}
